body {
    font-family: monospace;
    background-color: wheat;
    background: url("https://freshfrogs.github.io/assets/background.png");
    color: #333;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body takes full height */
    padding: 20px; /* Added padding around the content */
}
.main_panel {
    background-color: #7cc1ff;
    width: 90%;
    height: 90%;
    max-width: 600px;
    text-align: center;
    padding: 32px;
    color: white;
}
.display_img {
  height: 128px;
  width: 128px;
  box-shadow: 4px 4px cornflowerblue;
  margin: 2px;
}
.display_cont {
  margin-left: auto;
  margin-right: auto;
}
.title_desc {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.desc_cont {
    width: 90%;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
    padding: 16px;
    box-shadow: 4px 4px darkslateblue;
}
.pointer {
  
}
hr {
    width: 75%;
    border: 1px solid white;
    margin-top: 16px;
    margin-bottom: 16px;
}
.recent_sale_header {
  text-align: left;
  margin: 8px;
  height: 16px;
}
.frog_img {
  height: 128px;
  width: 128px;
}
.recent_sale_card {
  display: inline-block;
}