body {
    font-family: monospace;
    background-color: wheat;
    background: url("https://freshfrogs.github.io/assets/background.png");
    color: #333;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body takes full height */
    padding: 20px; /* Added padding around the content */
}
.main_panel {
    background-color: #7cc1ff;
    width: 90%;
    height: 90%;
    max-width: 800px;
    text-align: center;
    padding: 32px;
    color: white;
}
.display_img {
  height: 128px;
  width: 128px;
  box-shadow: 4px 4px cornflowerblue;
  margin: 2px;
}
.display_cont {
  margin-left: auto;
  margin-right: auto;
}
.title_desc {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.desc_title {
    color: inherit;
}
.desc_cont {
    width: 90%;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
    background: cornflowerblue;
    padding: 16px;
    box-shadow: 4px 4px darkslateblue;
}
.pointer {
  
}
hr {
    width: 75%;
    border: 1px solid white;
    margin-top: 16px;
    margin-bottom: 16px;
}
.recent_sale_header {
  text-align: left;
  margin: 8px;
  height: 16px;
}
.frog_img {
  height: 128px;
  width: 128px;
  image-rendering: pixelated;
}
.recent_sale_card {
    display: inline-block;
    background: cornflowerblue;
    padding: 8px;
    box-shadow: 4px 4px darkslateblue;
    width: 90%;
    height: 90%;
    max-width: 200px;
}
.sale_card_title {
    float: left;
}
.sale_card_price {
    float: right;
}
.recent_sale_img {
    border-radius: 100%;
    border: 1px solid darkslateblue;
    height: 128px;
    width: 128px;
    image-rendering: pixelated;
}
.recent_sale_properties {
    border-top: 1px solid white;
    border-left: 1px solid white;
    height: 100px;
    border-top-left-radius: 5px;
    padding: 8px;
    margin: 8px;
}
.recent_sale_traits {

}
.recent_sale_properties_title {
    float: left;
    display: inline-block;
    margin: 8px;
}