<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

          <h2>Vending Macine</h2>
          <label for="contract">Contract address</label>
          <input id='contract' type='text' name='contract' placeholder='contract address' value="0xEBe70667fF075aC505f08e7BCcC210f54dE1f24b"><br>
          <label for="count">How many to mint</label>
          <input id='count' type='text' name='count' placeholder='how many to mint' value="3"><br>
          <div class='mint-buttons'>
            <button id='mint'>Mint</button>
          </div>
          <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@3.0.0/dist/web3.min.js"></script>
          <script src="https://testnet.factoria.app/f0/token_abi.js"></script>
          <script src="https://unpkg.com/invitelist@0.0.2/dist/invitelist.js"></script>
          <script src="https://unpkg.com/ipfsh@0.0.2/dist/ipfsh.min.js"></script>
          <script>
          var web3 = new Web3(window.ethereum);
          class Vendingmachine {
            constructor () {
              document.querySelector("#contract").addEventListener("input", async (e) => {
                await this.build()
              })
              document.querySelector("#mint").addEventListener("click", async (e) => {
                let publicInviteKey = "0x0000000000000000000000000000000000000000000000000000000000000000"
                let invite = await this.collection.methods.invite(publicInviteKey).call()
                console.log("invite", invite)
                let count = parseInt(document.querySelector("#count").value)
                let cost = parseInt(invite.price) * count;
                await this.mint(
                  { key: publicInviteKey, proof: [] },
                  count,
                  cost
                );
              })  
            }
            async account () {
              let _res = await window.ethereum.send('eth_requestAccounts');
              return _res.result[0];
            }
            async build () {
              let contract_address = document.querySelector("#contract").value
              this.collection = new web3.eth.Contract(token_abi, contract_address);
            }
            async mint (auth, count, cost) {
              let account_address = await this.account();
              let tx = await this.collection.methods.mint(auth, count).send({
                from: account_address,
                value: "" + cost
              })
              console.log("tx")
            }
          }
          const machine = new Vendingmachine()
          machine.build()
          </script>

      {{ content }}

      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
