<!DOCTYPE html>
<style>
</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" href="./assets/logo.png">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
    <script src="https://ethereum.factoria.app/f0/token_abi.js"></script>
    <script src="https://unpkg.com/f0js/dist/f0.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PB0WKB4SH"></script>
    <script>
      // <-- [Google Analytics]
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PB0WKB4SH');
      // -- >
      // Assign Global Variables
      
      // -- END
      
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
