<!DOCTYPE html>
<style>
  .fresh_frogs {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .fresh_frog {
    width: 64px;
    margin: 8px;
  }
  section {
    border: 1px solid lightgray;
  }
</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" href="./assets/logo.png">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
    <script src="https://ethereum.factoria.app/f0/token_abi.js"></script>
    <script src="https://unpkg.com/f0js/dist/f0.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PB0WKB4SH"></script>
    <script>
      // <-- [Google Analytics]
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PB0WKB4SH');
      // -- >
      // Assign Global Variables
      
      // -- START
      document.addEventListener("DOMContentLoaded", async () => {

        // Connect Ethereum Wallet

        const web3 = new Web3(window.ethereum);
        const f0 = new F0();
        const CONTRACT_ADDRESS = "0xBE4Bef8735107db540De269FF82c7dE9ef68C51b";
        // (Ethereum Mainnet): 0xBE4Bef8735107db540De269FF82c7dE9ef68C51b || (Rinkeby): 0xc2203Ff7B9d1c65c8Cf0F6c776f6CF358af3c524
        const COLLECTION = collection = new web3.eth.Contract(token_abi, CONTRACT_ADDRESS);
        const NETWORK = "main";

        // Load OpenSea API

        const options = {
          method: 'GET',
          headers: {Accept: 'application/json', 'X-API-KEY': '1b80881e422a49d393113ede33c81211'}
        };

        // Collection Data

        fetch('https://api.opensea.io/api/v1/collection/fresh-frogs', options)
        .then(collection => collection.json())
        .then(collection => {

          var { collection: { banner_image_url, created_date, description, dev_seller_fee_basis_points, external_url, featured_image_url, name, payout_address, traits, stats: { floor_price, market_cap, total_volume, count, num_owners } } } = collection

        })
        .catch(e => {

            console.log('Could not talk to Opensea!');
            console.log('OpenSea : ' + e.message)
      
        });
      
        fetch('https://api.opensea.io/api/v1/assets?order_direction=desc&asset_contract_address=0xBE4Bef8735107db540De269FF82c7dE9ef68C51b&limit=5&include_orders=false', options)
        .then(res => res.json())
        .then((res) => {
          var { assets } = res
          assets.forEach((frog) => {

            var { name, token_metadata, permalink, traits, external_link, token_id } = frog

            new_frog = document.createElement('img')
            new_frog.src = external_link
            new_frog.className = 'fresh_frog'
            document.getElementById('fresh_frogs').appendChild(new_frog)

          })
        })
        .catch(e => {

            console.log('Error: Could not get recent sales from Opensea...');
            console.error('Error : ' + e.message)

        })

        // Attempt to Connect
    })
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <section>
        <div class="fresh_frogs" id="fresh_frogs"></div>
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
