<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
  html {
    background-image: url("/assets/background.png");
    font-family: Poppins, sans-serif !important;
  }
  body {
    background: transparent;
    height: 100%;
  }
  section {
    background-color: #7cc1ff;
    text-align: center;
    color: white !important;
  }
  header {
    background-color: #7cc1ff;
    color: white !important;
  }
</style>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" href="../assets/logo.png">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "../assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
    <script src="https://ethereum.factoria.app/f0/token_abi.js"></script>
    <script src="https://unpkg.com/f0js/dist/f0.js"></script>
    <script>

      /*
        Public Variables
      */

      // User Variables

      var user_address, user_invites, user_inviteKeys, user_tokens;

      // Function Varaibles

      var mint_id, mint_quantity, mint_price, mint_invite;
      var mint_quantity = 1;

      // Contract Varaibles

      var collection, COLLECTION, contract_name, contract_symbol, nextId, traits_list;
      var CONTRACT_ADDRESS = contract_address = "0xBE4Bef8735107db540De269FF82c7dE9ef68C51b";
      var NETWORK = "main";


      /*
        Load webpage
      */

      document.addEventListener("DOMContentLoaded", async () => {

        // Iniate web3 connection

        const web3 = new Web3(window.ethereum);
        const f0 = new F0();

        COLLECTION = collection = new web3.eth.Contract(token_abi, CONTRACT_ADDRESS);

        pull_collection_data();

        try { // Connect

          await f0.init({
            web3: web3,
            contract: CONTRACT_ADDRESS,
            network: NETWORK
          })

          user_address = await web3.currentProvider.selectedAddress;
          user_invites = await f0.myInvites();
          user_inviteKeys = Object.keys(user_invites);
          user_tokens = await collection.methods.balanceOf(user_address).call();
          contract_name = await f0.api.name().call();
          contract_symbol = await f0.api.symbol().call();
          nextId = await f0.api.nextId().call();
          mint_id = parseInt(nextId);

          console.log('Connected Wallet : ')
          console.log(user_address)
          console.log('Connected Smart Contract : ');
          console.log(contract_name+'('+contract_symbol+')');
          console.log(contract_address);

          // Open Mint --

        } catch (e) { consoleOutput('<strong></strong><br>'+e.message+'<a href="https://discord.gg/xWMFWgpvd3" target="_blank" class="pointer"><strong><u>Discord #Support</u></strong></a>'); }

        /*
          Listeners
        */

        // Remove from quantity

        document.querySelector("#quantity_remove").addEventListener("click", async (e) => {
          mint_quantity = mint_quantity - 1;
          console.log(mint_quantity);
        })

        // Add to quantity

        document.querySelector("#quantity_add").addEventListener("click", async (e) => {
          mint_quantity = mint_quantity + 1;
          console.log(mint_quantity);
        })

        // Mint! Send transaction to provider!

      })

      /*

      Pull collection data from OpenSea...
      https://opensea.io/collection/fresh-frogs

      */

      function pull_collection_data() {

        const options = {
          method: 'GET',
          headers: {Accept: 'application/json', 'X-API-KEY': '1b80881e422a49d393113ede33c81211'}
        };

        fetch('https://api.opensea.io/api/v1/collection/fresh-frogs', options)
        .then(collection => collection.json())
        .then(collection => {

          var { collection: { banner_image_url, created_date, description, dev_seller_fee_basis_points, external_url, featured_image_url, name, payout_address, traits, stats: { floor_price, market_cap, total_volume, count, num_owners } } } = collection

          traits_list = traits;

        })
        .catch(e => {

          console.log('Error: Could not get Collection data from Opensea. (1)');
          console.error('Error : ' + e.message)
      
        }); // First paid Frog 3,236
        
        fetch('https://api.opensea.io/api/v1/assets?order_direction=desc&asset_contract_address=0xBE4Bef8735107db540De269FF82c7dE9ef68C51b&limit=3&include_orders=false', options)
        .then((res) => res.json())
        .then((res) => {

          var { assets } = res
          nextIdC = parseInt(assets[0].name.replace('Frog #', '')) + 1;

          display_token(nextIdC);

        })
        .catch((e) => {

          console.log('Error: Could not get Collection data from Opensea. (2)');
          console.error('Error : ' + e.message)

        })

      }

      // Output
      function consoleOutput(output) {
        document.getElementById("pre").innerHTML = output
      }

      // Load Fresh Frog
      function load_token(token) {

        openSeaLink = 'https://opensea.io/assets/0xbe4bef8735107db540de269ff82c7de9ef68c51b/'+token
        etherscanLink = 'https://etherscan.io/nft/0xbe4bef8735107db540de269ff82c7de9ef68c51b/'+token

        newFrog = document.createElement("div")
        newFrog.id = token
        newFrog.className = 'frogPanel'
        newFrog.innerHTML = '<a style="margin-bottom" 0px !important;  display: inline !important;" class="smallContainer2 pointer2" id="Frog #'+token+'"><img class="frogImg3" src="https://freshfrogs.io/frog/'+token+'.png"/></a>'+'<p class="attributeList" id="Frog #'+token+'Desc"></p>'
        document.getElementById("thePad").appendChild(newFrog)

        document.getElementById('Frog #'+token+'Desc').innerHTML = '<a class="pointer" href="'+openSeaLink+'" target="_blank" style="image-rendering: auto !important; display: inline !important;">'+'<b><u>Frog #'+token+'</u></b> ↗️'+'</a>';

      }

      // Select Frog
      async function display_token(token){

        console.log('attempting to display: '+token)

        display_frog = 'https://freshfrogs.io/frog/'+token+'.png'
        display_name = 'Frog #'+token
        display_os = ''

        document.getElementById('thisheader').style.backgroundImage = 'url('+display_frog+')';
        document.getElementById('thisheader').style.backgroundSize = "2048px 2048px";

        document.getElementById('previewImg').setAttribute('src', display_frog)
        document.getElementById('display_name').innerHTML = display_name

        openSeaLink = 'https://opensea.io/assets/0xbe4bef8735107db540de269ff82c7de9ef68c51b/'+token
        etherscanLink = 'https://etherscan.io/nft/0xbe4bef8735107db540de269ff82c7de9ef68c51b/'+token

        /* let token_metadata = await (await fetch("https://freshfrogs.io/frog/json/"+token+".json")).json();
        for (var i = 0; i < token_metadata.attributes.length; i++){
            var data = token_metadata.attributes[i]
            //load_trait(data.trait_type, data.value, 'subDisplay')
            if (data.trait_type == 'Frog' || data.trait_type == 'SpecialFrog') {
              document.getElementById('display_type').innerHTML = data.value.slice(0, 10)+'..'
            }
        } */ 
        document.getElementById('display_type').innerHTML = '4040 supply'
      }

    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <ul class="downloads">
            <li><strong>Fresh Frogs</strong><div>ΞEthereum</div></li>
            <li><strong>0.01 ΞETH</strong>Plus gas</li>
            <li><strong><b>−</b><frogQuant>  1  </frogQuant><b>+</b></strong>Quantity</li>
          </ul>
          <br>
          <div id="minting_tray">
            <img id="previewImg" src="https://freshfrogs.io/assets/frogs/FLY.gif"/>
          </div>
        </div>
      </header>
      <section>
        <div>
          {{ content }}
        </div>
        <div>
          <div>
            <img src="../assets/frogs/websiteBannerFinal_2.png" style="border-radius: 5px; height: auto !important; width: 100% !important; margin-bottom: 14px; transform: scale(1.01);">
            <br>
            <h2><b>FreshFrogsNFT</b></h2>
            <p style="padding: 10%; padding-top: 0%; padding-bottom: 0%;">Fresh Frogs NFT is a collection of 4,040 randomly generated frogs that are each unique with thousands of different color combinations, traits, accessories, and more!</p>
            <hr>
            Connect to mint Frog tokens...<a href="https://freshfrogs.io/the-pad"><b id="connected">🔌 Connect Wallet</b> ↗️</a>
            <hr>
            FreshFrogNFT Holders...<a href="https://freshfrogs.io/"><b>🍀 freshfrogs.io/the-pad</b> ↗️</a>
            <br>
            <div id="pre"><strong></strong><br>Waiting to Connect Web3...<a href="https://discord.gg/xWMFWgpvd3" target="_blank"><strong><u>Discord #Support</u></strong></a></div>
          </div>
        </div>
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
