<!DOCTYPE html>
<style>
  
    html {
      background-image: url("/assets/background.png");
      font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
    }
  </style>
<html lang="{{ site.lang | default: "en-US" }}">
  <link rel="icon" href="../assets/logo.png">
  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "../assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
    <script src="https://freshfrogs.io/the-pond/banner/FileSaver.js"></script>
    <script src="https://freshfrogs.io/the-pond/banner/dom-to-image.js"></script>
    <script src="https://freshfrogs.io/assets/js/FreshFrogsNFT2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
    <script src="https://ethereum.factoria.app/f0/token_abi.js"></script>
    <script src="https://unpkg.com/f0js/dist/f0.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6PB0WKB4SH"></script>
    <script>
      // C 0x97648BB89f2C5335fDeCE9edeEBB8d88FA3D0A38 | A 0x8Fe45D16694C0C780f4c3aAa6fCa2DDB6E252B25
      // <-- [Google Analytics]
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-6PB0WKB4SH');
      // -- >

      document.addEventListener("DOMContentLoaded", async () => {

        console.log('updating display frogs')
        // bigContainer recentMint
        var displayLoop = 9;
        var randomFrog = getRandomInt(1, (4040-displayLoop));
        var container = document.getElementById('bigContainer');

        container.innerHTML = ''

        for (var i = 0; i < displayLoop; i++) {
          var displayImg = document.createElement('img');
          displayImg.src = '../frog/'+(randomFrog+i)+'.png'
          displayImg.className = 'recentMint'
          container.appendChild(displayImg);
        }

        await connect_init();

      })

      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min) + min);
      }

      async function connect_init() {
        await connect();
        await fetch_user_data(user_address);
      }

    </script>
    
  </head>
  <body class="bodyb">
    <div class="top">{{ content }}
      <img src="../assets/bannerTop2.png" style="margin-bottom: 5%;"/>
    </div>
    <div class="wrapper">
      <header id="header">
        <div class="downloads pre">
          <ul class="downloads2">
            <li><a id="button_left" class="pointer" href="https://etherscan.io/address/0xbe4bef8735107db540de269ff82c7de9ef68c51b" target="_blank"><strong>Etherscan</strong>Contract</a></li>
            <li><a id="button_middle" class="pointer" href="https://discord.gg/xWMFWgpvd3" target="_blank"><strong>Discord</strong>Server</a></li>
            <li><a id="button_right" class="pointer" href="https://www.gem.xyz/collection/fresh-frogs" target="_blank"><strong>Gemxyz</strong>Rankings</a></li>
          </ul>
          <div id="mintingTray" class="mintingTray">
            <br>
            <div id="bigContainer" class="bigContainer"></div>
          </div>
        </div>
      </header>
      <section id="section">
        <div class="downloads pre">
          <div id="netStatus" class="netStatus">
            <br>
            <img src="../assets/blackWhite.png" class="recentMint" style="border: none; height: 128px; width: 128px; border-radius: 100%; margin: 32px;">
            <p style="padding: 10%; padding-top: 0%; padding-bottom: 0%;"><strong style="color: white;">FreshFrogsNFT</strong> is a collection of 4,040 randomly generated frogs that are each unique with thousands of different color combinations, traits, accessories, and more!</p>
            opensea.io/collection/fresh-frogs<a class="pointer" href="https://opensea.io/collection/fresh-frogs" target="_blank"><strong style="color: white;">Shop on OpenSea ⛵</strong></a>
            <br>
            <div id="pre" class="mintingTextWhite2">
              <a style="margin: 0px !important; width: fit-content; height: auto; display: initial;" href="https://freshfrogs.io/the-pond">
                <button onclick="connect_init()" style="list-style: none; min-height: 40px; padding: 8px; border-radius: 5px; border: 1px solid black; width: 270px; margin: 16px; margin-left: auto; margin-right: auto; line-height: 1; text-align: center; vertical-align: middle;" class="frog_button">
                  <strong>Connect Wallet</strong>Ethereum Blockchain
                </button>
              </a>
              <br>
              <hr style="background: black;">
              <div class="console_pre" id="console-pre" style="background: transparent;"></div>
            </div>
            <br>
          </div>
        </div>
      </section>
      <section style="background: transparent; border: none;">
        <div id="thePad" class="thePad"></div>
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
