<style>
    body {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .data{
        margin: auto;
        border-radius: 5px;
    }
    .recent_sales {
        display: inline-flex;
        flex-wrap: wrap;
        image-rendering: pixelated;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .recent_sale {
        width: inherit;
    }
    #banner_image {
        width: 100%;
        object-fit: contain;
    }
</style>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0-rc.0/web3.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", async () => {

                CONTRACT_ADDRESS = "0xBE4Bef8735107db540De269FF82c7dE9ef68C51b";
              
                // Pull Collection data from OpenSea

                const options = {method: 'GET', headers: {'X-API-KEY': '1b80881e422a49d393113ede33c81211'}};

                fetch('https://api.opensea.io/api/v1/collection/fresh-frogs', options)
                .then(response => response.json())
                .then(response => {

                    var { collection: { banner_image_url, created_date, description, dev_seller_fee_basis_points, external_url, featured_image_url, name, payout_address, stats: { floor_price, market_cap, total_volume, count, num_owners } } } = response

                    document.getElementById('banner_image').setAttribute('src', banner_image_url)
                    document.getElementById('name').innerHTML = name
                    document.getElementById('count').innerHTML = count
                    document.getElementById('num_owners').innerHTML = num_owners
                    document.getElementById('market_cap').innerHTML = market_cap.toFixed(2)+' Ξ'
                    document.getElementById('floor_price').innerHTML = floor_price+' Ξ'
                    document.getElementById('total_volume').innerHTML = total_volume.toFixed(2)+' Ξ'
                    document.getElementById('description').innerHTML = description
                    document.getElementById('created_date').innerHTML = created_date
                    //document.getElementById('payout_address').innerHTML = payout_address

                    var initial_sales = (parseInt(count) - 3240) * 0.01

                    //document.getElementById('initial_sales').innerHTML = (initial_sales+parseInt(total_volume.toFixed(2)))+' Ξ'

                })
                .catch(err => {

                    document.getElementById('description').innerHTML = 'Error: Could not talk to OpenSea...'

                    console.error(err)
              
                }); // End data pull / first paid Frog 3,236

              // Get recent sales
              
                fetch('https://api.opensea.io/api/v1/events?collection_slug=fresh-frogs&event_type=successful&limit=7', options)
                .then(res => res.json())
                .then(res => {

                    var { asset_events } = res

                    console.log(asset_events)
                    

                    asset_events.forEach((sale) => {
                      

                        try {

                            var { asset: { image_url, name }, payment_token: { decimals }, total_price } = sale

                            var sale_price = total_price / Math.pow(10, decimals)

                            console.log('Sale found...'+sale.asset.name+' : '+sale_price)

                            recent_sale = document.createElement('div')
                            recent_sale.style.verticalAlign = 'center'
                            recent_sale.style.textAlign = 'center'
                            recent_sale.style.width = 100 / 7 + '%'
                            recent_sale.style.height = 'auto';
                            recent_sale.innerHTML = 
                                '<img class="recent_sale" src='+image_url+'>' +
                                '<p>'+name+' | '+sale_price+' Ξ<p>';
                            document.getElementById('recent_sales').appendChild(recent_sale)
                      
                        } catch (e) { console.log(e.message) }

                    })


                })
                .catch(err => console.error(err));
            })
        </script>
    </head>
    <header>
        <img class="banner_image" id="banner_image" src=""/>
    </header>
    <body>
        <a href="https://opensea.io/collection/fresh-frogs" target="_blank"><h1 id="name">Loading...</h1></a>
        <p>Items: <b id="count"></b> | Owners: <b id="num_owners"></b> | Market Cap: <b id="market_cap"></b> | Floor Price: <b id="floor_price"></b> | Sales Volume: <b id="total_volume"></b> <b id="initial_sales"></b></p>
        <p id="description"></p>
        <hr>
        <p><i id="created_date"></i></p>
        <div id="recent_sales" class="recent_sales"></div>
        {{ content }}
    <body>
    <footer></footer>
</html>