/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: teal;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for overall layout */
.container {
display: flex;
flex-direction: column;
width: 100%;
max-width: 1200px; /* Limiting the maximum width */
margin: 0 auto; /* Center the container */
padding: 20px;
border: 2px solid #32cd32; /* Add border around the entire container */
border-radius: 10px; /* Rounded corners */
background-color: white; /* White background for the container */
}

/* Top section with margin-top to add spacing */
.top-section {
    flex: 2;
    background-color: cadetblue;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: 8px 8px darkslategray;
}

.top-section h1 {
font-size: 2.5em;
margin-bottom: 10px;
}

.top-section p {
font-size: 1.2em;
margin-bottom: 20px;
}

.image-grid {
display: grid;
grid-template-columns: repeat(3, 64px);
grid-gap: 10px;
}

.image-grid img {
width: 64px;
height: 64px;
object-fit: cover;
border-radius: 8px;
}

/* Bottom sections container */
.bottom-sections {
display: flex;
width: 100%; /* Make sure bottom sections take full width */
padding: 20px;
margin-top: 20px; /* Add some space between the sections */
}

/* Individual bottom section */
.bottom-section {
    font-family: Arial, sans-serif;
    background-color: teal;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section h2 {
font-size: 1.8em;
margin-bottom: 10px;
}

.bottom-section p {
font-size: 1.1em;
color: #555;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
    .bottom-sections {
        flex-direction: column;
    }

    .bottom-section {
        margin-bottom: 20px;
    }

    .top-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .image-grid {
        grid-template-columns: repeat(3, 64px);
        justify-content: center;
        margin-top: 20px;
    }
}

.connectButton {
    margin: 4px;
    padding: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 0px;
    min-width: 130px;
    height: auto;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    transition: all .3s;
    font-family: monospace;
    font-size: initial;
  }
  .connectButton:hover {
    top: -5px;
    position: relative;
    box-shadow: 8px 8px 0px darkslategray;
  }