html {
    background: cornflowerblue;
    /**/
    background-image: url("https://freshfrogs.github.io/source/background.png");
    
  }
  body {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    margin-top: auto;
    font: inherit !important;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  section {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
    font-size: auto;
    color: #1a202c !important;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    padding: 0px !important;
    overflow: hidden;
    font-size: small !important;
    width: 80% !important;
    margin: 1%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  img {
    max-width: 100%;
  }
  #myProgress {
    width: 75%;
    background: white;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid teal;
    border-radius: 2px;
    overflow: hidden;
    height: 4px;
  }
  #myBar {
    width: 1%;
    height: 5px;
    background-color: teal;
    border-radius: 1px;
  }
  header {
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    border-radius: 5px;
    width: auto !important;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
    font-size: auto !important;
    margin-bottom: 16px !important;
    color: #19282F;
    padding-bottom: 0px !important;
    padding-left: 14px;
    padding-right: 14px;
  }
  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .pointer {
    cursor: pointer;
  }
  .properties {
    display: initial;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .display_token {
    display: inline-block;
    background-color: transparent;
    padding: 0px;
    color: #333 !important;
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    margin: 1%;
    margin-bottom: 8px;
    font-size: small;
    transition: all .2s;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 2px 2px darkslategray;
  }
  .display_token_cont {
    display: inline-block;
    margin: 0px;
    border-radius: 5px;
    background-color: transparent;
  }
  .display_token_img_cont {
    border-radius: 5px;
    width: 192px;
    height: 192px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: width .5s, height .5s;
  }
  .display_token_img_cont:hover {
    width: 192px;
    height: 192px;
  }
  .renderLeft {
    width: auto;
    background: transparent;
    color: #333;
    margin: auto;
    padding: 0px;
    min-width: 168px;
    border: none;
    border-bottom: 1px solid gray;
  }
  .renderRight {
    border-radius: 0px;
    background: white;
    display: flex;
    color: #1a202c;
    padding: 4px;
    width: auto;
    height: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .attribute_overlay {
    display: block;
    image-rendering: pixelated;
    overflow: hidden;
    position: absolute;
    width: inherit;
    height: inherit;
    cursor: pointer;
    transition: all .2s;
  }
  .attribute_overlay:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
  }
  .trait_overlay {
    display: block;
    image-rendering: pixelated;
    overflow: hidden;
    position: absolute;
    width: inherit;
    height: inherit;
    cursor: pointer;
    transition: width .2s, height .2s;
  }
  .parentPanel {
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
    padding: 1% !important;
    min-width: 333px;
    width: fit-content !important;
    color: white;
    background: cadetblue;
    border: 1px solid black;
  }
  .outputPanel {
    color: white;
    border: 1px solid black;
    height: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px darkslategray;
  }
  .usd_price{
    color: darkslategray;
    font-weight: bold !important;
    background: lightgray;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
  }
  .infobox {
    
  }
  .connectButton{
    margin: 4px;
    padding: 8px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 130px;
    height: auto;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .connectButton:hover{
    box-shadow: none;
    top: -2px;
  }
  .loadmore_button {
    margin: 4px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 115px;
    height: 25px;
    color: #081D35;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .loadmore_button:hover {
    box-shadow: none;
    top: -2px;
  }
  .etherscan_button {
    margin: 4px;
    background: #e9ecef;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 25px;
    color: #081D35;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .etherscan_button:hover {
    box-shadow: none;
    top: -2px;
  }
  .opensea_button {
    margin: 4px;
    background: rgb(0, 134, 255);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 25px;
    color: white;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .opensea_button:hover {
    box-shadow: none;
    top: -2px;
  }
  .morph_button{
    margin: 4px;
    background: indianred;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 25px;
    color: white;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .morph_button:hover{
    box-shadow: none;
    top: -2px;
  }
  .stake_button {
    margin: 4px;
    background: teal;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 248px;
    height: 25px;
    color: white;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .stake_button:hover{
    box-shadow: none;
    top: -2px;
  }
  .unstake_button {
    margin: 4px;
    background: tomato;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    width: 248px;
    height: 25px;
    color: white;
    vertical-align: middle;
    font-size: small;
    padding: 0px !important;
    cursor: pointer;
    box-shadow: 2px 2px darkslategray;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  }
  .unstake_button:hover{
    box-shadow: none;
    top: -2px;
  }
  .card_buttonbox {
    text-align: center;
    display: table;
    margin: 4px;
  }
  .card_text {
    color: #1a202c;
    font-weight: normal !important;
  }
  .card_bold {
    color: teal;
    font-weight: bold;
  }
  .frogs{
    width: 80% !important;
    background: transparent;
    border: none !important;
    margin: 0%;
  }
  .front_title {
    font-size: x-large;
    font-weight: 900;
    text-shadow: 2px 2px darkslategray;
    margin-top: 5px;
  }
  .infobox_left{
    margin: 8px;
    float: left;
    width: 100px;
  }
  .infobox_right {
    margin: 8px;
    float: right;
    width: 100px;
  }
  .logoHeader {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0%;
    padding-bottom: 0%;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: initial;
    font-weight: bolder;
    background: transparent;
    border-radius: 5px;
    display: inline-block;
    border: none;
    box-shadow: none;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
  }
  .bottomPanel {
    margin: auto;
    width: auto;
    padding: 0px;
    padding-top: 0px;
  }
  .clogo {
    width: 128px;
    height: auto;
    border-radius: 100%;
    margin: 12px;
  }
  .disconnectedStatus {
    background: red;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 0px;
    margin-right: 2;
    display: inherit;
    margin-right: 6px;
    margin-bottom: -3px;
    border: 1px solid black;
  }
  .connectedStatus {
    background: green;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 0px;
    margin-right: 2;
    display: inherit;
    margin-right: 6px;
    margin-bottom: -3px;
    border: 1px solid black;
  }
  .pendingStatus {
    background: orange;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    margin: 0px;
    margin-right: 2;
    display: inherit;
    margin-right: 6px;
    margin-bottom: -3px;
    border: 1px solid black;
  }
  .ui_terminal {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    color: white;
    border-radius: 5px;
  }
  .recentsalesheading {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: fit-content;
  }
  .buttonBar {
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .main_left {
    padding: 0px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid black;
    width: 256px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: transparent;
    box-shadow: none;
  }
  .main_right {
    padding: 15px;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 2px 2px darkslategray;
  }
  .headerPanel {
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    color: black;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    width: 100%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
  }
  .morph-token-result {
    background: white;
    border-radius: 5px;
    width: 40%;
    height: auto;
    margin: auto;
    padding: 16px;
    min-width: 256px;
  }
  .morph-token-display {
    width: 256px;
    height: 256px;
    margin: auto;
    background: lightskyblue;
    border-radius: 5px;
  }
  .morph-json-container {
    margin: auto;
    width: auto;
    border: 1px solid lightgray;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    overflow: auto;
  }
  .tokens-dropdown-option {
    background-color: white;
    padding: 2px;
    font-size: small;
  }